#not-found{
    margin-top: 10rem;

    .icon {
        i {
            font-size: 6rem;
        }
    }

    p, h1 {
        text-align: center;
    }
}

.not-found-icon {
    margin-bottom: 1rem;
    i {
        font-size: 4rem;
    }

}
