<div id="not-found" class="container">
  <div class="row">

    <div class="icon col-12 d-flex justify-content-center">
      <i class="far fa-frown-open"></i>
    </div>

    <div class="col-12 d-flex justify-content-center">
      <h1>
        <strong>Stránka nenalezena</strong>
      </h1>
    </div>

    <div class="col-12 d-flex justify-content-center">
      <p>
        Je možné, že zadáváte <strong>špatnou cestu, starší odkaz</strong> nebo <strong>nemáte povolen přístup</strong> na danou stránku.
      </p>
    </div>
  </div>
</div>
