<div id="left-menu">
  <div class="left-menu-header">
    <h2>
      <a routerLink="/">RKD projekt</a>
    </h2>
  </div>

  <ul id="left-menu-list" *ngIf="trains !== undefined && trains.length > 0">
    <li class="left-menu-item" *ngFor="let train of trains">
      <a [routerLink]="['/train', train.adresa]" routerLinkActive="active">
        <div class="train-wrapper w-100">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <img src="{{train.getPictureURL()}}" alt="" />
            </div>
            <div class="col-12">
                <span class="train-name">
                  {{train.nazev}}
                </span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
