<div class="row">
  <div class="col-12 mb-2" *ngIf="train !== undefined">
    <h1 class="text-center">{{train.nazev}}</h1>
  </div>
  <div class="col-6">
    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">Adresa</th>
        <td>{{train.adresa}}</td>
      </tr>
      <tr>
        <th scope="row">Označení</th>
        <td>{{train.oznaceni}}</td>
      </tr>
      </tbody>
    </table>
  </div>
    <div class="col-6">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row">Třída</th>
                <td>{{train.trida}}</td>
            </tr>
            <tr>
                <th scope="row">StanovisteA</th>
                <td>{{train.stanovisteA}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row mb-2">
  <div class="col-12">
    <h2 class="text-center m-0"><strong>Ovládací panel</strong></h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="row">
        <div class="col-12 mb-2">
          <h3>Rychlost vlaku</h3>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-1">
          <span class="kbd" (click)="decreaseSpeed(1)">
            <i class="fas fa-long-arrow-alt-left" title="Kliknutím nebo zmáčknutím této klávesy zpomalíte vlak"></i>
          </span>
        </div>
        <div class="col-10 mt-1">
          <div id="slider">
          </div>
        </div>
        <div class="col-1">
          <span class="kbd" (click)="increaseSpeed(1)">
            <i class="fas fa-long-arrow-alt-right" title="Kliknutím nebo zmáčknutím této klávesy zrychlíte vlak"></i>
          </span>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-8 d-flex">
          <div class="button-wrapper d-flex">
            <button type="button" class="btn btn-danger d-flex align-items-center mr-4" title="Stisknutí tohoto tlačítka okamžitě zastaví vlak" (click)="setSpeed(0)">
                <span class="kbd mr-3">
                    0
                </span>
                Stop
            </button>
          </div>
            <div class="button-wrapper d-flex">
                <button type="button" class="btn btn-primary d-flex align-items-center mr-4" title="Stisknutí tohoto tlačítka okamžitě zastaví vlak" (click)="setSpeed(19)">
                <span class="kbd mr-3">
                    1
                </span>
                    19
                </button>
            </div>
            <div class="button-wrapper d-flex">
                <button type="button" class="btn btn-primary d-flex align-items-center mr-4" title="Stisknutí tohoto tlačítka okamžitě zastaví vlak" (click)="setSpeed(23)">
                <span class="kbd mr-3">
                    2
                </span>
                    23
                </button>
            </div>
            <div class="button-wrapper d-flex">
                <button type="button" class="btn btn-primary d-flex align-items-center mr-4" title="Stisknutí tohoto tlačítka okamžitě zastaví vlak" (click)="setSpeed(27)">
                <span class="kbd mr-3">
                    3
                </span>
                    27
                </button>
            </div>
        </div>
          <div class="col-4 d-flex justify-content-end">
              <div class="button-wrapper d-flex">
                  <button type="button"
                          class="btn btn-success d-flex align-items-center mr-4"
                          title="Stisknutí tohoto tlačítka změní směr vlaku vpřed"
                          (click)="setDirection(1)"
                          [ngClass]="{'btn-success': train.smer === 1, 'btn-secondary': train.smer === 0}">
                    <span class="kbd kbd-big mr-3">
                          <i class="fas fa-long-arrow-alt-up" title="Kliknutím nebo zmáčknutím této klávesy změníte směr jízdy vlaku směrem vpřed"></i>
                    </span>
                      Směr vpřed
                  </button>
              </div>
              <div class="button-wrapper d-flex">
                  <button type="button"
                          class="btn btn-secondary d-flex align-items-center"
                          title="Kliknutím nebo zmáčknutím této klávesy změníte směr jízdy vlaku směrem vzad"
                          (click)="setDirection(0)"
                          [ngClass]="{'btn-success': train.smer === 0, 'btn-secondary': train.smer === 1}">
                    <span class="kbd kbd-big mr-3">
                          <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                      Směr vzad
                  </button>
              </div>
          </div>
      </div>
  </div>

  <div class="col-12 pt-4" *ngIf="train !== undefined && train.vyznamFunkci != undefined">
      <div class="row">
          <div class="col-12">
              <h3>Funkce</h3>
          </div>
      </div>
      <div class="row pt-4">
          <div class="col-3 mb-2 functionCol" *ngFor="let funkce of train.vyznamFunkci; index as i">
                <button *ngIf="funkce != ''"
                        type="button" [ngClass]="{'btn-secondary': !train.isFunctionActive(i), 'btn-success': train.isFunctionActive(i)}"
                        class="btn btn-sm btn-block d-flex align-items-center mr-4"
                        (click)="train.toggleFunction(i)">
                      <span class="kbd mr-3" *ngIf="i < getKeymapLength()">
                          {{keyMap[i].toUpperCase()}}
                      </span>
                  {{funkce}}
                </button>
        </div>
      </div>
  </div>
</div>
