<h1 class="text-center mt-2 pb-5">Strojvůdce</h1>

<h3 class="text-center pb-4">Vítejte na úvodní straně aplikace Strojvůdce.</h3>
<h5 class="text-center font-weight-bold">Vyberte si prosím z levého menu lokomotivu, kterou chcete ovládat.</h5>

<div class="mendelu-wrapper">
  <span class="d-flex justify-content-center"><span class="mr-1">Vytvořeno jako projekt k předmětu</span> <a href="https://is.mendelu.cz/katalog/syllabus.pl?predmet=109499" target="_blank"> Řízení kolejové dopravy</a></span>
  <div class="d-flex justify-content-center">
    <a href="//mendelu.cz/" target="_blank"><img src="http://mendelu.cz/wcs/templates/design/css/img/logo-mendelu-cs.png" alt=""></a>
  </div>
</div>
